.card-item-container,
.ticket-when,
.ticket-pay {
  display: flex;
}

.ticket-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 2rem;
  color: var(--dark);
  padding-bottom: 1rem;
}

.ticket-title {
  height: 3rem;
  font-weight: bold;
  overflow: hidden;
}
.ticket-when,
.ticket-pay {
  gap: 2rem;
}
.ticket-position {
  font-weight: 900;
}

.remove-ticket-btn {
  background-color: inherit;
}

.ticket-price,
.ticket-position {
  align-self: center;
}

.ng-fa-icon {
  font-size: 3rem;
}
