<app-loader [diameter]="20"></app-loader>
<ng-container *ngIf="shows$ | async as shows; else error">
  <div class="movie-hours">
    <div class="movie-hour" *ngFor="let show of shows">
      <a class="router-link" routerLink="/seats/{{ show.id }}"
        ><button
          type="button"
          class="movie-hour-button"
          [disabled]="!isShowAvaible(show.hour)"
          (click)="handleSelectedMovieAndShow(movie, show, date)"
        >
          {{ show.hour }}
        </button></a
      >
    </div>
  </div>
</ng-container>
<ng-template #error>
  <div *ngIf="errorHandler$ | async">
    <app-error></app-error>
  </div>
</ng-template>
