.movie-hours {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.movie-hours button {
  background-color: var(--dark);
  color: var(--primary);
  border: 2px solid var(--dark);
  padding: 1rem 3rem;
  border-radius: 20px;
  justify-items: flex-start;
  align-items: flex-start;
}

.movie-hours button:disabled {
  opacity: 20%;
}

.movie-hours button:disabled:hover {
  background-color: var(--dark);
  color: var(--primary);
}

.movie-hours button:hover {
  background-color: var(--primary);
  color: var(--dark);
}
