<ng-container *ngIf="shows$ | async as shows; else loading">
  <div class="movie-hours">
    <div class="movie-hour" *ngFor="let show of shows">
      <a class="router-link" routerLink="/seats/{{ show.id }}"
        ><button
          type="button"
          class="movie-hour-button"
          (click)="handleSelectedMovieAndShow(movie, show, date)"
        >
          {{ show.hour }}
        </button></a
      >
    </div>
  </div>
</ng-container>
<ng-template #loading> ...Ładowanie </ng-template>
