<form
  class="add-movie-form"
  [formGroup]="addMovieForm"
  (ngSubmit)="handleSubmit()"
>
  <div class="add-movie-form__title">
    <mat-form-field class="add-movie-form__input">
      <mat-label>Plakat</mat-label>
      <input matInput formControlName="img" placeholder="Link do plakatu" />
      <mat-error *ngIf="imgCtrl.errors as errors">
        <ng-container *ngIf="errors['required']; else minCharacter"
          >To pole jest wymagane.</ng-container
        >
        <ng-template #minCharacter> </ng-template>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="add-movie-form__input">
      <mat-label>Tytuł</mat-label>
      <input matInput formControlName="title" placeholder="Tytuł filmu" />
      <mat-error *ngIf="titleCtrl.errors as errors">
        <ng-container *ngIf="errors['required']"
          >To pole jest wymagane.</ng-container
        >
      </mat-error>
    </mat-form-field>
  </div>

  <h3>Wybierz kategorię filmu</h3>
  <div class="add-movie-form__checkbox">
    <mat-checkbox
      *ngFor="let genre of genres"
      class="checkbox-item"
      formGroupName="genre"
      [value]="genre"
      (change)="toggleGenre(genre)"
      color="primary"
    >
      <p class="font-text-1">{{ genre }}</p>
    </mat-checkbox>
  </div>
  <ng-container *ngIf="genreCtrl.errors as errors">
    <ng-container *ngIf="genreCtrl.touched">
      <p class="input-text-error" *ngIf="errors['required']">
        Wybierz chociaż jedną kategorię!
      </p>
    </ng-container>
  </ng-container>

  <h3>Ograniczenia wiekowe</h3>
  <mat-radio-group formControlName="ageRest">
    <mat-radio-button
      *ngFor="let pegi of pegi"
      class="surveys__single"
      color="primary"
      [value]="pegi"
    >
      <p class="">{{ pegi }}</p>
    </mat-radio-button>
  </mat-radio-group>
  <ng-container *ngIf="ageRestCtrl.errors as errors">
    <ng-container *ngIf="ageRestCtrl.touched">
      <p class="input-text-error" *ngIf="errors['required']">
        Wybierz ograniczenia wiekowe
      </p>
    </ng-container>
  </ng-container>

  <div class="add-movie-form__details">
    <mat-form-field class="add-movie-form__input">
      <mat-label>Czas trwania</mat-label>
      <input
        matInput
        numbersOnly
        formControlName="length"
        placeholder="Czas trwania filmu"
      />
      <mat-error *ngIf="lengthCtrl.errors as errors">
        <ng-container *ngIf="errors['required']"
          >To pole jest wymagane.</ng-container
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field class="add-movie-form__input">
      <mat-label>Ocena filmu</mat-label>
      <input matInput formControlName="score" placeholder="Podaj ocene filmu" />
      <mat-error *ngIf="scoreCtrl.errors as errors">
        <ng-container *ngIf="errors['required']"
          >To pole jest wymagane.</ng-container
        >
        <ng-container *ngIf="errors['pattern']"
          >Ocena w postaci: x/10</ng-container
        >
      </mat-error>
    </mat-form-field>
  </div>

  <div class="add-movie-form__desc">
    <mat-form-field class="add-movie-form__input">
      <mat-label>Krótki Opis</mat-label>
      <input
        matInput
        formControlName="description"
        placeholder="Podaj krótki opis filmu"
      />
      <mat-error *ngIf="descriptionCtrl.errors as errors">
        <ng-container *ngIf="errors['required']"
          >To pole jest wymagane.</ng-container
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field
      color="primary"
      appearance="fill"
      class="details-form__description"
    >
      <mat-label>Długi opis</mat-label>
      <textarea
        formControlName="description"
        matInput
        placeholder="Podaj dłuższą wersję opisu"
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="15"
      ></textarea>
      <mat-error *ngIf="longDescriptionCtrl.errors as errors">
        <ng-container *ngIf="errors['required']"
          >To pole jest wymagane.</ng-container
        >
        <ng-container *ngIf="errors['minlength'] as minLength"
          >Min. liczba znaków: {{ minLength.actualLength }}/{{
            minLength.requiredLength
          }}.</ng-container
        >
        <ng-container *ngIf="errors['maxlength'] as maxLength"
          >Maks. liczba znaków: {{ maxLength.actualLength }}/{{
            maxLength.requiredLength
          }}.</ng-container
        >
      </mat-error>
      <mat-hint
        >Liczba znaków: {{ descriptionCtrl.value.length }}/4000
      </mat-hint>
    </mat-form-field>
  </div>
  <mat-checkbox
    class="checkbox-item"
    formGroupName="genre"
    (change)="toggle()"
    color="primary"
  >
    <p class="font-text-1">Premiera</p>
  </mat-checkbox>

  <button class="add-movie-form__submit" mat-fab extended color="primary">
    Dodaj film
  </button>
</form>
