/* MOVIES CONTAINER AND CARTS */

.movieCard-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;

  &__poster {
    position: relative;
    margin-right: 8px;
    &--img {
      max-width: 200px;
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 20px;
    }

    &--premier {
      font-weight: 600;
      font-size: 4rem;
      backdrop-filter: blur(10px);
      color: var(--error);
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      border-radius: 20px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    width: 60%;
    color: var(--dark);
    margin-right: 8px;
  }
}

.show-info-button {
  justify-self: flex-end;
  align-self: flex-end;
  color: var(--dark);
  font-weight: 600;
  font-size: 2rem;
  border-bottom: 2px solid var(--secondary);
  background-color: inherit;
}

.movieCard-title {
  font-weight: 700;
  font-size: 3rem;
  color: var(--dark-grey);
}

.movieCard-info {
  font-size: 2rem;
}

.movie-card-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &__score {
    color: var(--dark-grey);
    font-weight: 600;
    font-size: 2rem;
  }
}
