<div class="movieCard-container">
  <div class="movieCard-container__poster">
    <img class="movieCard-container__poster--img" src="{{ movieCard.img }}" />
  </div>
  <div class="movieCard-container__description">
    <div class="movieCard-title">{{ movieCard.title }}</div>
    <div class="movieCard-info">
      <span>{{ movieCard.genre }} | </span
      ><span>{{ movieCard.length }} | </span>
      <span>{{ movieCard.ageRest }} </span>
    </div>
    <div class="movieCard-desc">{{ movieCard.description }}</div>
    <button type="button" class="show-info-button" (click)="showDescription()">
      Więcej
    </button>
    <ng-container *ngIf="showLongDescription">
      <div class="more-info" *ngIf="showLongDescription">
        {{ movieCard.longDescription }}
      </div>
    </ng-container>
    <app-movies-shows [movie]="movieCard"></app-movies-shows>
  </div>
</div>
