<div class="movieCard-container">
  <div class="movieCard-container__poster">
    <img class="movieCard-container__poster--img" src="{{ movieCard.img }}" />
    <ng-container *ngIf="movieCard.premier">
      <p class="movieCard-container__poster--premier">Premiera!</p>
    </ng-container>
  </div>
  <div class="movieCard-container__description">
    <p class="movieCard-title">{{ movieCard.title }}</p>
    <div class="movieCard-info">
      <span>{{ movieCard.genre }} | </span
      ><span>{{ movieCard.length }} | </span>
      <span>{{ movieCard.ageRest }} </span>
    </div>
    <p class="movieCard-desc">{{ movieCard.description }}</p>
    <button type="button" class="show-info-button" (click)="showDescription()">
      Więcej
    </button>
    <ng-container *ngIf="showLongDescription">
      <p class="more-info" *ngIf="showLongDescription">
        {{ movieCard.longDescription }}
      </p>
    </ng-container>
    <ng-container *ngIf="selectedDate$ | async as selectedDate">
      <app-movies-shows
        [date]="selectedDate"
        [movie]="movieCard"
      ></app-movies-shows>
    </ng-container>
  </div>
  <div class="movie-card-buttons">
    <div class="movie-card-buttons__score">
      <p>Ocena:</p>
      <p>{{ movieCard.score }}</p>
    </div>

    <ng-container *ngIf="authState | async as authState">
      <ng-container *ngIf="authState.isLogged">
        <app-movies-card-buttons
          [movieCard]="movieCard"
          [userId]="authState.id!"
        ></app-movies-card-buttons>
      </ng-container>
    </ng-container>
  </div>
</div>
