<div class="selected-seats">
  <div class="selected-seat">
    <p>
      <span class="seat-desc">Rząd:</span> {{ ticket.seat.position.charAt(0) }}
    </p>
    <p>
      <span class="seat-desc">Miejsce:</span>
      {{ ticket.seat.position.slice(1) }}
    </p>
    <span class="seat-desc__special" *ngIf="isSelectedSeatSpecial()">
      VIP + 5PLN</span
    >
  </div>
  <select
    class="ticket-select"
    [(ngModel)]="selectedTicket"
    name="ticket-grade"
    id="ticket"
    (change)="
      handleTicketTypeChange(
        ticket.id,
        selectedTicket,
        selectTicketPrice(selectedTicket)
      )
    "
  >
    <option *ngFor="let ticket of show.priceList" [value]="ticket.type">
      {{ ticket.type }}
    </option>
  </select>
  <div
    class="delete-seat"
    (click)="removeTicket(ticket.seat.position, ticket.id)"
  >
    <fa-icon [icon]="trashCanIcon"></fa-icon>
  </div>
  <div class="ticket-price">
    <span class="seat-desc">{{ selectTicketPrice(selectedTicket) }} PLN</span>
  </div>
</div>
