<div class="summarize-container">
  <div class="summarize">
    <h1>Dziękujemy za zamówienie!</h1>
    <ng-container *ngIf="email$ | async as email">
      <p>
        Twoje bilety zostały wysłane na adres email:
        <span class="order-email">{{ email.userEmail }}</span>
      </p>

      <div class="qr-img-container">
        <img
          [src]="barcodeApiUrl + 'http://localhost:4200/order/' + email.orderId"
        />
      </div>
      <a class="ticket-link" [routerLink]="['/order/', email.orderId]"
        >Link do biletów</a
      >
    </ng-container>
    <a class="go-back-btn" routerLink="">&#9754; Wróć na stronę główną</a>
  </div>
</div>
