.seat-selection-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-radius: 20px;
}

.movie-title {
  margin-top: 4rem;
  font-size: 3rem;
  font-weight: 600;
  color: var(--dark);
}

.screen {
  background-color: var(--primary);
  height: 2rem;
  width: 70%;
  color: var(--dark-lighter);
  text-align: center;
  border: 1px solid var(--dark);
}

.seats-grid {
  width: 60%;
}
