<div class="seat-selection-container">
  <ng-container *ngIf="selectedState$ | async as selectedState">
    <div class="movie-title">
      {{ selectedState.selectedMovie.title }},
      {{ selectedState.selectedDate.date }}
      {{ selectedState.selectedShow.hour }}
    </div>

    <div class="screen">SCREEN</div>
    <div class="seats-grid">
      <app-seats-grid [show]="selectedState.selectedShow"></app-seats-grid>
    </div>
    <!-- <div class="all-selected-tickets">
    <div
      *ngFor="let seat of selected; let i = index"
      class="selected-ticket"
    ></div>
  </div>
  <div class="navigation-links">
    <a *ngIf="selected.length" class="router-link" routerLink="/form"
      ><button type="button" class="order-btn">Przejdz do zamówienia</button></a
    >
  </div> -->
  </ng-container>
</div>
