<div class="seat-selection-container">
  <ng-container *ngIf="selectedState$ | async as selectedState; else loading">
    <div class="movie-title">
      {{ selectedState.selectedMovie.title }},
      {{ selectedState.selectedDate.date }}
      {{ selectedState.selectedShow.hour }}
    </div>
    <div class="screen">SCREEN</div>
    <div class="seats-grid">
      <app-seats-grid
        [date]="selectedState.selectedDate.date"
        [movie]="selectedState.selectedMovie"
        [show]="selectedState.selectedShow"
      ></app-seats-grid>
    </div>
    <ng-container *ngIf="ticketState$ | async as tickets">
      <div *ngIf="tickets.length; else noTickets" class="all-selected-tickets">
        <app-seats-selected
          *ngFor="let ticket of tickets"
          [show]="selectedState.selectedShow"
          [ticket]="ticket"
        ></app-seats-selected>
      </div>
      <ng-template #noTickets>
        <h2>Wybierz siedzenie aby dodać bilet</h2>
      </ng-template>
      <div class="navigation-links">
        <a *ngIf="tickets.length" class="router-link" routerLink="/order">
          Przejdz do zamówienia
        </a>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <p>...Ładowanie</p>
  </ng-template>
</div>
