<header>
  <div class="header-container">
    <ng-container *ngIf="authState | async as authState">
      <div class="header-container__title">
        <ng-container *ngIf="authState.accountType === 'admin'; else user">
          <a
            [routerLinkActive]="['active']"
            class="router-link"
            routerLink="admin-panel"
            >FakeKino!</a
          >
        </ng-container>
        <ng-template #user>
          <a
            [routerLinkActive]="['active']"
            class="router-link"
            [routerLink]="getToday()"
            >FakeKino!</a
          >
        </ng-template>
      </div>
      <div class="header-container__buttons">
        <ng-container *ngIf="authState.isLogged; else notLogged">
          <ng-container *ngIf="ticketState$ | async as ticketState">
            <ng-container *ngIf="authState.accountType === 'user'">
              <button
                (click)="openCart()"
                class="header-button cart"
                type="button"
              >
                <fa-icon [icon]="cart"></fa-icon>
                <ng-container *ngIf="ticketState.length !== 0">
                  <div class="cart-ammount">{{ ticketState.length }}</div>
                </ng-container>
              </button>
            </ng-container>
          </ng-container>
          <div class="dropdown">
            <button class="header-button login-button" type="button">
              {{ authState.data!.userFirstName }}
            </button>
            <ng-container *ngIf="authState.accountType === 'admin'; else user">
              <div class="login-dropdown-content">
                <a class="dropdown-link" (click)="handleLogout()">Wyloguj</a>
              </div>
            </ng-container>
            <ng-template #user>
              <div class="login-dropdown-content">
                <a class="dropdown-link" routerLink="/my-tickets"
                  >Moje Bilety</a
                >
                <a class="dropdown-link" routerLink="/my-watchlist"
                  >Chcę obejrzeć</a
                >
                <a class="dropdown-link">Ustawienia</a>
                <a class="dropdown-link" (click)="handleLogout()">Wyloguj</a>
              </div>
            </ng-template>
          </div>
        </ng-container>
        <ng-template #notLogged>
          <a routerLink="/login"
            ><button class="header-button login-button" type="button">
              Zaloguj
            </button></a
          >
        </ng-template>
      </div>
    </ng-container>
  </div>
</header>
