<div class="movie-card-buttons">
  <ng-container *ngIf="userMovieRatingState$ | async as userMovieRating"
    ><button
      *ngIf="!userMovieRating.hasUserRated"
      type="button"
      (click)="openDialog()"
      class="movie-card-buttons__rate"
    >
      Oceń ten film!
    </button>
    <p *ngIf="userMovieRating.hasUserRated">
      Oceniłeś ten film na: {{ userMovieRating.rating }}
    </p>
  </ng-container>

  <ng-container
    *ngIf="{ response: isMovieInWatchList$ | async } as isMovieInWatchList"
  >
    <ng-container
      *ngIf="!isMovieInWatchList.response; else removeMovieCardToWishList"
    >
      <button
        (click)="addMovieToWishList()"
        type="button"
        class="movie-card-buttons__watch"
      >
        Chcę zobaczyć
      </button>
    </ng-container>
    <ng-template #removeMovieCardToWishList>
      <button
        (click)="removeMovieFromWishList()"
        type="button"
        class="movie-card-buttons__watch"
      >
        Obejrzałem!
      </button>
    </ng-template>
  </ng-container>
</div>
