<div class="movie-card-buttons">
  <ng-container *ngIf="userMovieRateState$ | async as userMovieRate">
    <button
      type="button"
      *ngIf="!userMovieRate.hasUserRated; else userVoted"
      (click)="openDialog()"
      class="movie-card-buttons__rate"
    >
      Oceń ten film!
    </button>
    <ng-template #userVoted>
      <p class="movie-card-buttons__user-rate">
        Twoja ocena: {{ userMovieRate.rating }}
      </p>
    </ng-template>
  </ng-container>

  <ng-container
    *ngIf="{ response: isMovieInWatchList$ | async } as isMovieInWatchList"
  >
    <ng-container
      *ngIf="!isMovieInWatchList.response; else removeMovieCardToWishList"
    >
      <button
        (click)="addMovieToWishList()"
        type="button"
        class="movie-card-buttons__watch"
      >
        Chcę zobaczyć
      </button>
    </ng-container>
    <ng-template #removeMovieCardToWishList>
      <button
        (click)="removeMovieFromWishList()"
        type="button"
        class="movie-card-buttons__watch"
      >
        Obejrzałem!
      </button>
    </ng-template>
  </ng-container>
</div>
