.watchlist-movie {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  padding: 1rem;
  border: 2px solid var(--primary);
  color: var(--dark);
  border-radius: 20px;
  background-color: var(--white);
  color: var(--dark);
  box-shadow: 0rem 0rem 1rem rgb(0, 0, 0, 0.6);
}

.movie-details {
  display: flex;
  width: 100%;
  gap: 3rem;
}

.detail-cate {
  font-weight: 600;
}

.remove-watchlist-btn {
  align-self: center;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 20px;
  font-weight: 600;
  background-color: var(--dark);
  border: 2px solid var(--primary);
  color: var(--primary);
}
