.home-container {
  text-align: center;
  margin: 0 auto;
  max-width: 95vw;
  margin-bottom: 10rem;
  position: relative;

  &__dates {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 3rem 0rem;

    & button:first-child {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }
    & button:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  &__movies {
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 0rem 0rem 1rem rgb(0, 0, 0, 0.6);
    border-radius: 20px;
  }

  &__movies > div:not(:last-child) {
    border-bottom: 2px solid rgb(169, 169, 169);
  }
}

.dates-button {
  background-color: var(--dark);
  color: var(--primary);
  padding: 1rem 2rem;
  border: 1px solid var(--primary-darker);

  &--active {
    background-color: var(--primary);
    color: var(--dark);
  }
}

.dates-button button:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.dates-button button:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.dates-button:disabled {
  opacity: 20%;
}

.dates-button:disabled:hover {
  background-color: var(--dark);
  color: var(--primary);
}

.dates-button:hover {
  background-color: var(--primary);
  color: var(--dark);
}
