<div class="home-container">
  <div class="home-container__dates">
    <button
      type="button"
      class="dates-button"
      *ngFor="let date of week; let i = index"
      (click)="selectDate(i)"
      [disabled]="currentIndex > i"
      [ngClass]="clickedIndex === i ? 'dates-button--active' : ''"
    >
      {{ date.slice(0, 5) }}
    </button>
  </div>

  <app-loader [diameter]="100"></app-loader>
  <ng-container *ngIf="movies$ | async as movies; else error">
    <div class="home-container__movies">
      <div *ngFor="let movie of movies">
        <app-movies-card [movieCard]="movie"></app-movies-card>
      </div>
    </div>
    <ng-container *ngIf="movies.length === 0">
      <h1>Brak seansów w wybrany dzień!</h1>
    </ng-container>
  </ng-container>
</div>
<ng-template #error>
  <div *ngIf="errorHandler$ | async">
    <app-error></app-error>
  </div>
</ng-template>
<app-footer></app-footer>
