<div class="home-container">
  <ng-container *ngIf="movies$ | async as movies; else loading">
    <div class="home-container__dates">
      <button
        type="button"
        class="dates-button"
        *ngFor="let date of week; let i = index"
        (click)="selectDate(i)"
        [disabled]="currentIndex > i"
        [ngClass]="clickedIndex === i ? 'dates-button--active' : ''"
      >
        {{ date.slice(0, 5) }}
      </button>
    </div>

    <div class="home-container__movies">
      <div *ngFor="let movie of movies">
        <app-movies-card [movieCard]="movie"></app-movies-card>
      </div>
    </div>
    <ng-container *ngIf="movies.length === 0">
      <h1>Brak seansów w wybrany dzień!</h1>
    </ng-container>
  </ng-container>
  <ng-template #loading> ...Ładowanie </ng-template>
</div>
<app-footer></app-footer>
