<div class="footer-container">
  <div class="footer-links-container">
    <div class="icons">
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="icon-link"
        ><fa-icon [icon]="facebook"></fa-icon
      ></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="icon-link"
        ><fa-icon [icon]="instagram"></fa-icon
      ></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="icon-link"
        ><fa-icon [icon]="youtube"></fa-icon
      ></a>
    </div>
    <div class="text-links">
      <a href="#" class="link-txt">O nas |</a>
      <a href="#" class="link-txt">Praca |</a>
      <a href="#" class="link-txt">Regulamin |</a>
      <a href="#" class="link-txt">Wynajem sal </a>
    </div>
  </div>
  <div class="copyright">Ale Kino! 2022</div>
</div>
