<app-loader [diameter]="50"></app-loader>
<ng-container *ngIf="newShowData$ | async as newShowData; else error">
  <div class="add-show">
    <h1>Dodaj seans</h1>

    <app-add-show-form
      (handleAddMovie)="addMovieToDate($event, newShowData[2])"
      (handleAddShow)="addShow($event)"
      [movies]="newShowData[0]"
      [screens]="newShowData[1]"
    >
    </app-add-show-form>
  </div>
</ng-container>
<ng-template #error>
  <div *ngIf="errorHandler$ | async">
    <app-error></app-error>
  </div>
</ng-template>
