<app-loader [diameter]="50"></app-loader>
<ng-container *ngIf="order$ | async as order; else error">
  <div class="user-orders-container">
    <h1>Bilety</h1>

    <div class="user-orders">
      <div class="user-order">
        <app-ordered-ticket
          *ngFor="let ticket of order.ticket"
          [orderedTicket]="ticket"
        ></app-ordered-ticket>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #error>
  <div *ngIf="errorHandler$ | async">
    <app-error></app-error>
  </div>
</ng-template>
